#root{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
  }
 
  #first{
    margin-top: 30%;
    margin-bottom: 30%;
    
  }
  #navbarSupportedContent{
    background-color:e07a84;
  }
  .card{
    margin-left: 10%;
    margin-right: 10%;
  }
  card-body{
    margin-left: 20%;
  }
  #form7{

    margin-right: 20%;
  }
  message{
    backdrop-filter: inherit;
  }
  card mb3{
    margin: 0%;
  }
  a{
   text-decoration:none !important;
   }
   h1,h2,h3{
   font-family: 'Kaushan Script', cursive;
   }
    .myform{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
   }
   .tx-tfm{
   text-transform:uppercase;
   }
   .mybtn{
   border-radius:50px;
   }
  
   .login-or {
   position: relative;
   color: #aaa;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   }
   .span-or {
   display: block;
   position: absolute;
   left: 50%;
   top: -2px;
   margin-left: -25px;
   background-color: #fff;
   width: 50px;
   text-align: center;
   }
   .hr-or {
   height: 1px;
   margin-top: 0px !important;
   margin-bottom: 0px !important;
   }
   .google {
   color:#666;
   width:100%;
   height:40px;
   text-align:center;
   outline:none;
   border: 1px solid lightgrey;
   }
    form .error {
   color: #ff0000;
   }
   #second{display:none;}